html { 
    font-family: 'Roboto', sans-serif;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    box-sizing: border-box;
    background-color: white; box-sizing: inherit;
    
}

.nostalgia {
    
    width: 160px;
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: 700px;


}

#intro {
    margin-right: 50px;
    margin-left: 50px;
}

.fashion-icons {
    margin-right: 50px;
    margin-left: 50px;
}


body {
    margin: 0;
}


img {
    width: 100%;
}



.wrapper {
    width: 900px;
    margin: 0 auto;
   text-align: center; 
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0;
    padding-right: 0;
}

header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 0;
    padding-left: 0;
}

.shirts {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: purple;
    justify-content: center;
    text-align: center;
}

nav ul {
    list-style: none;
    display: block;
    padding: 0;
    text-align: center

}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: .5em .75em;
    border-radius: 8px;

}

nav a,
nav a:visited {
    background-color: purple;
    color: white;
    border: 2px solid white;
    text-decoration: none;
}

nav a:hover {
background-color: white;
color: purple;
border: 2px solid purple;
}

.introductions {
    background-image: url("../images/greatest-90s-fashion-trends.webp");
    width:100%;
    padding: 10em 0 10em 0;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top center;
}

h1 {
    width: 75%;
    padding:.5em;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0,0,0,.8);
    background-color: rgba(0,0,0,.25);
}



.trends figure{
    width: 22%;
    display: inline-block;
    align-items: center;
}

figcaption {
    color: white;
    font-style: italic;
}

.icon {
display: inline-block;
padding: 2em 0 2em 0;
}

.icon img {
    width: 260px;
    float: left;
    margin: 2em;
}

.icon + p {
   float: none;
}

.featured-articles {
    display: none;
}

footer {
background-color: black;
color: white;
}

footer > p {
text-align: center;
padding: 8px 0 8px 0;
}